.soft-skills {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	max-width: var(--x-limit);
	margin: 0 auto;
}
@media only screen and (min-width: 700px) {
	.soft-skills {
		flex-direction: row;
		justify-content: space-around;
	}
}
