.menu-button .button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.menu-button .button svg {
	font-size: 3em;
	color: var(--cl-btn-menu);
}
.menu-button .button:hover > svg {
	transition: all .3s ease-in;
	color: var(--cl-primary);
}
