.container-nav {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	background-color: var(--cl-secondary);
	background-color: #101010;
	padding: 1.5em 0;
	animation: CirclePathOpen 1s ease-in-out;
}
@keyframes CirclePathOpen {
	from {
		clip-path: circle(0 at 100% 0);
	}
	to {
		clip-path: circle(200%);
	}
}
.container-nav.remove {
	animation: CirclePathClose 1s ease-in-out forwards;
}
@keyframes CirclePathClose {
	from {
		clip-path: circle(200%);
	}
	to {
		clip-path: circle(0 at 100% 0);
	}
}
.container-nav .nav {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.nav a {
	position: relative;
	width: fit-content;
	color: #aaa;
	cursor: pointer;
	text-align: left;
	margin: .2em 0;
	font-size: 2.5em;
	font-weight: bolder;
	text-transform: uppercase;
	transition: all .3s linear;
	z-index: 1000;
	overflow: hidden;
}
.nav a:hover {
	color: var(--text-primary);
}
.nav a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 0;
	height: 100%;
	background: var(--cl-primary);
	transition: all .3s ease-in-out;
	color: transparent;
	z-index: -1;
}
.nav a:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	animation: Sweep .5s cubic-bezier(.39,.17,.91,.71) forwards;
}
@keyframes Sweep {
	0% {
		width: 0%;
		transform: translateX(0);
	}
	50% {
		width: 100%;
		transform: translateX(50%);
	}
	100% {
		width: 0;
		transform: translateX(200px);
	}
}
.nav a.active {
	color: #FFF;
}

@media only screen and (min-width: 600px) {
	.container-nav {
		padding: 0;
		position: relative;
		justify-content: center;
		flex-direction: row;
		height: 100%;
		background-color: transparent;
		animation: none;
	}
	.container-nav .nav {
		flex-direction: row;
		perspective: none;
	}
	.nav a {
		text-align: center;
		font-size: .8em;
		margin: 0 .5em;
		width: 90px;
		transform: none;
		padding: .2em 0;
	}
	.nav a:last-child {
		margin-right: 0;
	}
}
