.container-nav {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	background-color: var(--cl-secondary);
	background-color: #101010;
	padding: 1.5em 0;
	animation: CirclePath 1s ease-in-out;
}
@keyframes CirclePath {
	from {
		clip-path: circle(0 at 100% 0);
	}
	to {
		clip-path: circle(200%);
	}
}
.container-nav .nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.nav a {
	position: relative;
	width: 100%;
	color: #aaa;
	cursor: pointer;
	text-align: left;
	margin: .2em 0;
	font-size: 2.5em;
	font-weight: bolder;
	text-transform: uppercase;
	transition: all .3s linear;
}
.nav a:hover {
	color: #ccc;
}
.nav a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 0;
	height: 100%;
	border-bottom: 2px solid var(--cl-primary);
	transition: all .3s ease-in-out;
}
.nav a:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid var(--cl-primary);
}

.nav a.active {
	border-radius: 50px;
	color: var(--text-primary);
}

@media only screen and (min-width: 600px) {
	.container-nav {
		padding: 0;
		position: relative;
		justify-content: center;
		flex-direction: row;
		height: 100%;
		background-color: transparent;
		animation: none;
	}
	.container-nav .nav {
		flex-direction: row;
		perspective: none;
	}
	.nav a {
		text-align: center;
		font-size: .8em;
		margin: 0 .5em;
		width: 90px;
		transform: none;
	}
	.nav a:last-child {
		margin-right: 0;
	}
}
