.container-biography .biography {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	padding-top: calc(115px + 2em);
	padding-bottom: 2em;
	background-color: var(--cl-secondary-light);
	z-index: 1;
	gap: 2em;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 700px;
	opacity: 0;
}
@media only screen and (min-width: 900px) {
	.container-biography .biography {
		padding-left: calc(115px + 2em);
		padding-top: 2em;
		flex: 1;
		height: 100%;
		justify-content: center;
	}
}
@media only screen and (min-width: 1050px) {
	.container-biography .biography {
		padding-left: 15px;
	}
}
