.branding {
	text-align: center;
	width: 100%;
	height: fit-content;
	opacity: 0;
}
.branding .say-hi {
	font-weight: bold;
	font-size: min(max(5vw, 1em), 1.2em);
	line-height: 0;
}
.branding h1 {
	margin: 0 auto;
	width: fit-content;
	font-size: min(max(11vw, 2em), 4em);
}
.branding h3 {
	font-weight:lighter;
	font-size: min(max(6vw, 1em), 1.5em);
}
.branding h3 span {
	color: var(--cl-tertiary);
}
@media only screen and (min-width: 900px) {
	.branding {
		text-align: left;
		align-self: flex-end;
	}
	.branding h1 {
		font-size: min(max(11vw, 2em), 4em);
		margin: 0;
	}
	.branding h4 {
		color: #ccc;
		font-size: min(max(6vw, 1em), 1.1em);
	}
}
