.call-action-button {
	display: flex;
	height: fit-content;
	align-self: center;
	gap: 2em;
}
.call-action-button.fade-ltr {
	animation: Fade-ltr .3s ease-in;
}
.call-action-button.fade {
	animation: Fade .3s ease-in;
}
.call-action-button .btn_work-together {
	padding: .5em 3em;
	font-size: min(max(6vw, 1em), 1.5em);
}
@media only screen and (min-width: 400px) {
	.call-action-button {
		justify-self: center;
	}
}
@media only screen and (min-width: 900px) {
	.call-action-button {
		justify-self: flex-start;
		align-self: flex-end;
		align-self: flex-start;
	}
	.call-action-button .btn_work-together {
		padding: .5em 2em;
	}
}
