.home {
	position: relative;
	display: flex;
	place-content: center;
	padding: 6em 0;
	padding-bottom: 4em;
	min-height: 100vh;
	font-size: 16px;
	z-index: 100;
}
@media only screen and (min-width: 600px) {
	.home {
		padding-top: 8em;
	}
}
@media only screen and (min-width: 900px) {
	.home {
		align-items: center;
		padding: 0;
	}
}
